<h1>Changer votre mot de passe</h1>
<p>Bonjour {{ user.email }},</p>
<p>Votre inscription sur le site e-commerce est à valider en cliquant sur le lien ci-dessous :</p>
{#<p><a href="{{ absolute_url(path('verify_user', {token: token})) }}">{{ absolute_url(path('verify_user', {token: token})) }}</a></p>#}
{# TODO #}
<p><a href="http://localhost:5173/reset-password-input/{{ token }}">Click here to verify your account !</a></p>
<p>Ce lien expirera dans 3 heures</p>
